# OWN CODE

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler

In [ ]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train

        id   Input_A        Input_B  Target
0        0 -1.107048   13211.546898       1
1        1 -1.502288  197302.006169       1
2        2 -0.452942 -188985.312052       0
3        3 -0.832504   43162.085636       1
4        4  1.237355 -133618.041882       0
...    ...       ...            ...     ...
1235  1235 -2.214566  186738.199920       1
1236  1236  1.230224  135920.914254       1
1237  1237 -0.864834  -46257.984590       0
1238  1238 -2.393653 -173596.062344       1
1239  1239  0.222445   81948.404017       1

[1240 rows x 4 columns]

In [ ]:
model = LogisticRegression()
model.fit(train[['Input_A', 'Input_B']] , train['Target']);

In [ ]:
predictions = model.predict(test[['Input_A','Input_B']])

In [ ]:
scaler = StandardScaler()
X_train = scaler.fit_transform(train[['Input_A', 'Input_B']])
X_test = scaler.transform(test[['Input_A', 'Input_B']])
model = LogisticRegression(max_iter=1000)
model.fit(X_train, train['Target'])

predictions = model.predict(X_test)

In [ ]:
submissions = pd.DataFrame({
    'id': test['id'],
    'Target': predictions
})

submissions.to_csv('submission.csv', index=False)

# SUBMISSION CODE!

In [ ]:
# CODE WITH MORE ACCURACY! DATASET USED
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

# Features and target
X_train = train[['Input_A', 'Input_B']]
y_train = train['Target']
X_test = test[['Input_A', 'Input_B']]

# Model
model = RandomForestClassifier(
    n_estimators=300,
    max_depth=10,
    random_state=42
)

model.fit(X_train, y_train)
predictions = model.predict(X_test)

# Submission file
submission = pd.DataFrame({
    'id': test['id'],
    'Target': predictions
})

submission.to_csv('submission.csv', index=False)