# Titanic-Dataset --> Neural networks

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

from keras import models, layers

In [ ]:
df = pd.read_csv('tested.csv')
df.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0          892         0       3  ...   7.8292   NaN         Q
1          893         1       3  ...   7.0000   NaN         S
2          894         0       2  ...   9.6875   NaN         Q
3          895         0       3  ...   8.6625   NaN         S
4          896         1       3  ...  12.2875   NaN         S
5          897         0       3  ...   9.2250   NaN         S
6          898         1       3  ...   7.6292   NaN         Q
7          899         0       2  ...  29.0000   NaN         S
8          900         1       3  ...   7.2292   NaN         C
9          901         0       3  ...  24.1500   NaN         S

[10 rows x 12 columns]

In [ ]:
# Removing null values
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [ ]:
# Dropping unrequired rows.
df.drop(['PassengerId' , 'Name' , 'Ticket' , 'Cabin'] , axis = 1 , inplace = True)

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].median())

In [ ]:
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

In [ ]:
df['Fare'] = df['Fare'].fillna(df['Fare'].median())

In [ ]:
# Using label encoding for Embarked , Sex -> for only two else use one-hot encoding.
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])

# one-hot encoding
df = pd.get_dummies(df , columns = ['Embarked'], drop_first=True)

In [ ]:
X = df.drop('Survived' , axis = 1)
y = df['Survived']

In [ ]:
X_train , X_test , y_train , y_test = train_test_split(X , y , test_size = 0.2 , random_state = 42)

In [ ]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)

In [ ]:
model = models.Sequential([
    layers.Dense(256, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dense(32, activation='relu'),
    layers.Dense(16, activation='sigmoid'),
    layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

model.summary()

Model: "sequential_7"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_26 (Dense)                │ (None, 256)            │         2,304 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_27 (Dense)                │ (None, 32)             │         8,224 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_28 (Dense)                │ (None, 16)             │           528 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_29 (Dense)                │ (None, 1)              │            17 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 11,073 (43.25 KB)

 Trainable params: 11,073 (43.25 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
model.fit(X_train, y_train, epochs=50, batch_size=64,validation_data=(X_val, y_val))

Epoch 1/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 2s 59ms/step - accuracy: 0.6415 - loss: 0.7189 - val_accuracy: 0.7015 - val_loss: 0.5968
Epoch 2/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6355 - loss: 0.6530 - val_accuracy: 0.7015 - val_loss: 0.6160
Epoch 3/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 20ms/step - accuracy: 0.6372 - loss: 0.6413 - val_accuracy: 0.7015 - val_loss: 0.6042
Epoch 4/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6489 - loss: 0.6272 - val_accuracy: 0.7015 - val_loss: 0.5958
Epoch 5/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6229 - loss: 0.6304 - val_accuracy: 0.6866 - val_loss: 0.5938
Epoch 6/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6469 - loss: 0.6381 - val_accuracy: 0.6418 - val_loss: 0.5873
Epoch 7/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6500 - loss: 0.6221 - val_accuracy: 0.6716 - val_loss: 0.5862
Epoch 8/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6830 - loss: 0.6022 - val_accuracy: 0.6567 - val_loss: 0.5811
Epoch 9/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6772 - loss: 0.6101 - val_accuracy: 0.7015 - val_loss: 0.5898
Epoch 10/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6505 - loss: 0.6094 - val_accuracy: 0.6716 - val_loss: 0.5865
Epoch 11/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6662 - loss: 0.6083 - val_accuracy: 0.6567 - val_loss: 0.5701
Epoch 12/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6482 - loss: 0.5941 - val_accuracy: 0.6716 - val_loss: 0.5717
Epoch 13/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step - accuracy: 0.6842 - loss: 0.5676 - val_accuracy: 0.6716 - val_loss: 0.5670
Epoch 14/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.7113 - loss: 0.5690 - val_accuracy: 0.6866 - val_loss: 0.5781
Epoch 15/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.7624 - loss: 0.5769 - val_accuracy: 0.6716 - val_loss: 0.5430
Epoch 16/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6249 - loss: 0.5783 - val_accuracy: 0.6866 - val_loss: 0.5371
Epoch 17/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6559 - loss: 0.5401 - val_accuracy: 0.7463 - val_loss: 0.5517
Epoch 18/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.7721 - loss: 0.5553 - val_accuracy: 0.7313 - val_loss: 0.5266
Epoch 19/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.7670 - loss: 0.5165 - val_accuracy: 0.6866 - val_loss: 0.5036
Epoch 20/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.7249 - loss: 0.4961 - val_accuracy: 0.7612 - val_loss: 0.5040
Epoch 21/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.7978 - loss: 0.5161 - val_accuracy: 0.8060 - val_loss: 0.4865
Epoch 22/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.7952 - loss: 0.4732 - val_accuracy: 0.7015 - val_loss: 0.4682
Epoch 23/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.6875 - loss: 0.4733 - val_accuracy: 0.8060 - val_loss: 0.4649
Epoch 24/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.8804 - loss: 0.4542 - val_accuracy: 0.7015 - val_loss: 0.4299
Epoch 25/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.6912 - loss: 0.4511 - val_accuracy: 0.8060 - val_loss: 0.4283
Epoch 26/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.8326 - loss: 0.4175 - val_accuracy: 0.8060 - val_loss: 0.4095
Epoch 27/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.8570 - loss: 0.3781 - val_accuracy: 0.8507 - val_loss: 0.4010
Epoch 28/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step - accuracy: 0.9174 - loss: 0.3699 - val_accuracy: 0.8209 - val_loss: 0.3675
Epoch 29/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.8439 - loss: 0.3573 - val_accuracy: 0.8657 - val_loss: 0.3873
Epoch 30/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.8985 - loss: 0.3433 - val_accuracy: 0.7910 - val_loss: 0.3463
Epoch 31/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.8875 - loss: 0.3279 - val_accuracy: 0.9104 - val_loss: 0.3148
Epoch 32/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9140 - loss: 0.3155 - val_accuracy: 0.9104 - val_loss: 0.3426
Epoch 33/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 0.9547 - loss: 0.2824 - val_accuracy: 0.7910 - val_loss: 0.3161
Epoch 34/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 21ms/step - accuracy: 0.8468 - loss: 0.3051 - val_accuracy: 0.9104 - val_loss: 0.3669
Epoch 35/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9391 - loss: 0.2940 - val_accuracy: 0.8358 - val_loss: 0.2795
Epoch 36/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.8901 - loss: 0.2931 - val_accuracy: 0.9403 - val_loss: 0.3017
Epoch 37/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9539 - loss: 0.2511 - val_accuracy: 0.9254 - val_loss: 0.2440
Epoch 38/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9702 - loss: 0.2335 - val_accuracy: 0.9552 - val_loss: 0.2348
Epoch 39/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9940 - loss: 0.1945 - val_accuracy: 0.9552 - val_loss: 0.2230
Epoch 40/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9953 - loss: 0.1776 - val_accuracy: 0.9403 - val_loss: 0.2308
Epoch 41/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9867 - loss: 0.1766 - val_accuracy: 0.9552 - val_loss: 0.1995
Epoch 42/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9981 - loss: 0.1606 - val_accuracy: 0.9403 - val_loss: 0.2040
Epoch 43/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 1.0000 - loss: 0.1471 - val_accuracy: 0.9701 - val_loss: 0.1711
Epoch 44/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 28ms/step - accuracy: 1.0000 - loss: 0.1410 - val_accuracy: 0.9701 - val_loss: 0.1594
Epoch 45/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9781 - loss: 0.1521 - val_accuracy: 0.9403 - val_loss: 0.1795
Epoch 46/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 18ms/step - accuracy: 1.0000 - loss: 0.1290 - val_accuracy: 0.9403 - val_loss: 0.1875
Epoch 47/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9876 - loss: 0.1246 - val_accuracy: 0.9851 - val_loss: 0.1389
Epoch 48/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9348 - loss: 0.2242 - val_accuracy: 0.9403 - val_loss: 0.2019
Epoch 49/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9676 - loss: 0.1493 - val_accuracy: 0.9851 - val_loss: 0.1436
Epoch 50/50
5/5 ━━━━━━━━━━━━━━━━━━━━ 0s 17ms/step - accuracy: 0.9969 - loss: 0.1463 - val_accuracy: 0.9403 - val_loss: 0.1366

In [ ]:
y_pred = model.predict(X_test)

WARNING:tensorflow:5 out of the last 30 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x79a11719b740> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

1/3 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step

WARNING:tensorflow:6 out of the last 32 calls to <function TensorFlowTrainer.make_predict_function.<locals>.one_step_on_data_distributed at 0x79a11719b740> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has reduce_retracing=True option that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 31ms/step

In [ ]:
model.evaluate(X_test, y_test)

3/3 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.9901 - loss: 0.1087

[0.10893221944570541, 0.988095223903656]

In [ ]:
model.evaluate(X_train, y_train)

9/9 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9745 - loss: 0.1075

[0.10634621977806091, 0.9850187301635742]